<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Recomendasi Oleh-oleh Khas Banjarmasin</title>
</head>

<body>
    <%- include('../components/common/molecules/navbar/index') %>
        <%- include('../components/common/atoms/loginPrompt/index') %>
            <%- include('../components/common/molecules/home/index') %>
                <%- include('../components/common/molecules/categories/index') %>
                    <%- include('../components/common/molecules/products/index') %>
                        <%- include('../components/common/molecules/about/index') %>
                            <%- include('../components/common/molecules/costumers/index') %>
                                <%- include('../components/common/molecules/footer/index') %>
                                    <%- include('../components/common/molecules/copyright/index') %>


<!-- script CDN -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<!-- Swiper from CDN -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- script untuk menampilkan profil -->
<script src="/js/fetchProfile.js"></script>
<!-- script Js -->
<script src="/js/main.js"></script>
<!-- scrpt untuk produk -->
<script src="/js/fetchProducts.js"></script>
<script src="/js/login.js"></script>
</body>

</html>